@font-face {
    font-family: Qontra;
    src: url(./Qontra.otf);
}
@font-face {
    font-family: Langscape;
    src: url(./Langscape.ttf);
}

#text{
  width: 500px;
  height: 300px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
#text h1{
  font-family: Qontra,Arial;
  font-size: 3.3em;
  text-transform: uppercase;

  color:rgb(253,253,253);
  text-shadow: 0px 2px 0px #774499;
  text-rendering: geometricPrecision;
  -webkit-transform: translateX(0) !important;
  margin-bottom: 2px;
}
#wrapper{
  background-color: #aaeeff;
}
p{
  margin: 0px;
  font-family: Langscape;
  font-size:13pt;
  color:#fff;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}
hr{
  width:25%;
  background-color:rgba(255,255,255,0.3);
  height:2px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: none;
  border-left: 1px solid rgba(0,0,0,0.2);
}
